/* midori_videoBox.css */



/*common area*/
#videoBox {
  position:relative;
  width:100%; height:100%;
  overflow:hidden;
}

#videoBox > .text_box {
  margin-top:-62.5px; margin-left:-125px;
  position:absolute; top:50%; left:50%; z-index:100;
  width:250px; height:125px;
}

#videoBox > .text_box > p {
  width:100%; height:50px;
  background-image:url("../../../img/videoBox/video_text.png");
  background-repeat:no-repeat;
  background-size:238px;
  background-position:center 0;
}

/*#videoBox > .text_box > .play_btn {
  margin-left:25px;
  box-sizing:border-box; border:1px solid #333;
  width:200px; height:75px;
  font-size:25px; text-align:center; text-transform:capitalize;
  background-color:rgba(255,255,255,0.5);
  transition:all 300ms ease;
}

#videoBox > .text_box > .play_btn:hover {
  background-color:#006544; color:#fff;
}

#videoBox > .text_box > .play_btn:focus {
  border:3px solid #333;
  text-decoration:underline;
}*/

#videoBox > .text_box > .play_btn {
  margin-left:25px;
  box-sizing:border-box; border:1px solid #333;
  width:200px; height:75px;
  font-size:25px; text-align:center; text-transform:capitalize;
  background-color:rgba(255,255,255,0.5);
  box-shadow:0px 5px 10px -8px rgba(0,0,0,0.5);
  transition:all 350ms ease-in-out;
}

#videoBox > .text_box > .play_btn:hover {
  border:0;
  box-shadow:0px 15px 15px -8px rgba(0,0,0,0.5);
  transform:translateY(-10px);
  background-color:#006544; color:#fff;
}

#videoBox > .text_box > .play_btn:focus {
  border:3px solid #333;
  text-decoration:underline;
}




#videoBox > .scroll {
  margin-left:-40px;
  position:absolute; left:50%; bottom:50px; z-index:100;
  width:80px; height:40px;
}

#videoBox > .scroll > a {
  display:block; width:100%; height:100%;
  background-image:url("../../../img/videoBox/scroll_btn.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
  animation:scroll 1000ms infinite ease alternate;
}

#videoBox > .scroll:hover > a {
  background-image:url("../../../img/videoBox/scroll_btn_hover.png");
}

#videoBox > .scroll > a:focus {
  border:0;
  background-image:url("../../../img/videoBox/scroll_btn_focus.png");
}

@keyframes scroll {
  0% {transform:translateY(0);}
  /*50% {transform:translateY(5px);}*/
  100% {transform:translateY(20px);}
}

#fullVideo {
  width:100%; height:100%;
}

#fullVideo > video {
  display:none;
  width:auto; height:auto; min-width:101%; min-height:101%;
  position:absolute; top:50%; left:50%;
  transform:translateX(-50%) translateY(-50%);
  backface-visibility:visible;

  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url("../../../img/videoBox/banner_img/banner_img_01.png");
}

#fullVideo > .banner_wrap {
  display:none;
  position:relative;
  width:100%; height:100%;
}

#fullVideo > .banner_wrap > .video_banner {
  width:600%; height:100%;
}

#fullVideo > .banner_wrap > .video_banner > li {
  float:left;
  width:calc(100% / 6); height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

#fullVideo > .banner_wrap > .video_banner > li.banner_img_01 {
  background-image: url("../../../img/videoBox/banner_img/banner_img_01.png");
}
#fullVideo > .banner_wrap > .video_banner > li.banner_img_02 {
  background-image: url("../../../img/videoBox/banner_img/banner_img_02.png");
}
#fullVideo > .banner_wrap > .video_banner > li.banner_img_03 {
  background-image: url("../../../img/videoBox/banner_img/banner_img_03.png");
}
#fullVideo > .banner_wrap > .video_banner > li.banner_img_04 {
  background-image: url("../../../img/videoBox/banner_img/banner_img_04.png");
}
#fullVideo > .banner_wrap > .video_banner > li.banner_img_05 {
  background-image: url("../../../img/videoBox/banner_img/banner_img_05.png");
}

#fullVideo > .banner_wrap > .indicator {
  position:absolute; top:50%; margin-top:-50px; right:35px;
  width:12px; height:auto;
}

#fullVideo > .banner_wrap > .indicator > li {
  width:100%; height:12px; margin-bottom:10px;
  border-radius:100%;
}

#fullVideo > .banner_wrap > .indicator > li > a {
  width:100%; height:100%;
  background-color:rgba(255,255,255,0.4);
  border-radius:100%;
}

#fullVideo > .banner_wrap > .indicator > li:last-child {margin-bottom:0;}

#fullVideo > .banner_wrap > .indicator > li:hover > a {
  background-color:#006544;
}

#fullVideo > .banner_wrap > .indicator > li > a:focus {
  border:0;
  background:linear-gradient(90deg, #a6c0fe 0%, #f68084 100%);
}

#fullVideo > .banner_wrap > .indicator > li.active > a {
  background-color:rgba(255,255,255,0.9);
}

#fullVideo > .modal_frame {
  position:fixed; top:50%; left:50%; z-index:110;
}

#fullVideo > .modal_bg {
  position:fixed; top:0; left:0; z-index:100;
  width:100%; height:100%; background-color:rgba(0,0,0,0.85);
}





/*mobile*/
@media screen and (max-width:480px) {
  #fullVideo > .banner_wrap {
    display:block;
  }

  #fullVideo > .banner_wrap > .indicator {
    right:15px;
  }

  #fullVideo > .modal_frame {display:none;}
  #fullVideo > .modal_bg {display:none;}
}



/*tablet*/
@media screen and (min-width:481px) and (max-width:768px) {
  #fullVideo > .banner_wrap {
    display:block;
  }

  #fullVideo > .banner_wrap > .indicator {
    right:25px;
  }

  #fullVideo > .modal_frame {display:none;}
  #fullVideo > .modal_bg {display:none;}
}



/*laptop*/
@media screen and (min-width:769px) and (max-width:1366px) {
  #fullVideo > video {
    display:block;
  }

  #fullVideo > .modal_frame {
    margin-top:-24.450951vw;
    margin-left:-43.484626vw;
    width:86.969253vw;/*1188/1366*100*/
    height:48.901903vw;/*668/1366*100*/
  }
}



/*pc-full*/
@media screen and (min-width:1367px) {
  #fullVideo > video {
    display:block;
  }

  #fullVideo > .modal_frame {
    margin-top:-334px; margin-left:-594px;
    width:1188px; height:668px;
  }
}