/* product_midori.css */



/*common area*/
.pro_all_wrap {
  width:100%; height:auto;
  background-image:url("../../../img/wrap/grid.png");
  background-repeat:repeat;
  background-size:59px 60px;
}

#mStyle {
  box-sizing:border-box; padding:120px 35px; padding-top:0;
  width:100%; height:auto;
}

#mStyle > h2 {
  margin-bottom:50px;
  width:100%; height:auto;
  font-size:50px; text-align:center;
  font-weight:200; text-transform:uppercase;
  word-break:keep-all;
}

#mStyle > h2 > span {
  color:#006544;
}

#mStyle > .tab_box {
  margin:auto;
  width:940px; height:auto; min-height:100px;
}

#mStyle > .tab_box > .category {
  margin-bottom:50px;
  width:100%; height:auto;
}

#mStyle > .tab_box > .category > li {
  float:left;
  width:25%; height:auto;
}

#mStyle > .tab_box > .category > li > a {
  margin:auto;
  display:block;
  width:95%; height:auto;
  color:#ccc; text-align:center; /*line-height:40px;*/
  text-transform:uppercase; font-weight:bold;
  word-break:keep-all;
}

#mStyle > .tab_box > .category > li > a:after {
  content:" "; display:block;
  margin:auto;
  width:0%; height:2px; background-color:#006544;
  transition:all 300ms ease;
}

#mStyle > .tab_box > .category > li:hover > a,
#mStyle > .tab_box > .category > li.select > a {
  color:#006544;
  transition:all 300ms ease;
}

#mStyle > .tab_box > .category > li:hover > a:after,
#mStyle > .tab_box > .category > li.select > a:after {
  width:100%;
}

#mStyle > .tab_box > .tab_content {
  width:100%; height:auto;
}

#mStyle > .tab_box > .tab_content > ul {
  width:100%; height:auto;
  display:none;
}

#mStyle > .tab_box > .tab_content > ul.select {
  display:block;
}

#mStyle > .tab_box > .tab_content > ul > li {
  box-sizing:border-box; padding:0 25px;
  margin-right:20px; margin-bottom:20px;
  float:left;
  width:300px; height:auto; min-height:350px;
}

#mStyle > .tab_box > .tab_content > ul > li > a {
  margin:auto; margin-bottom:15px;
  display:block; width:100%; height:250px;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  transition:all 400ms ease;
}

/*#mStyle > .tab_box > .tab_content > .tab01 > li > a {
  transition:all 400ms ease;
}*/

#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(1) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_1-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(2) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_2-1.png");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(3) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_3-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(4) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_4-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(5) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_5-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(6) > a {
  background-image:url("../../../img/sub_page/product/tab01/img_6-1.png");}

#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(1):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_1-3.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(2):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_2-2.png");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(3):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_3-2.png");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(4):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_4-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(5):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_5-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(6):hover > a {
  background-image:url("../../../img/sub_page/product/tab01/img_6-2.png");}

#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(1) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_1-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(2) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_2-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(3) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_3-1.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(4) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_4-1.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(5) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_5-1.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(6) > a {
  background-image:url("../../../img/sub_page/product/tab02/img_6-1.jpg");}

#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(1):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_1-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(2):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_2-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(3):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_3-2.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(4):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_4-2.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(5):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_5-2.png");}
#mStyle > .tab_box > .tab_content > .tab02 > li:nth-child(6):hover > a {
  background-image:url("../../../img/sub_page/product/tab02/img_6-2.jpg");}

#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(1) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_1-1.png");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(2) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_2-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(3) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_3-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(4) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_4-1.png");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(5) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_5-1.png");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(6) > a {
  background-image:url("../../../img/sub_page/product/tab03/img_6-1.jpg");}

#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(1):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_1-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(2):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_2-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(3):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_3-2.png");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(4):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_4-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(5):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_5-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab03 > li:nth-child(6):hover > a {
  background-image:url("../../../img/sub_page/product/tab03/img_6-2.png");}

#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(1) > a {
  background-image:url("../../../img/sub_page/product/tab04/img_1-1.png");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(2) > a {
  background-image:url("../../../img/sub_page/product/tab04/img_2-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(3) > a {
  background-image:url("../../../img/sub_page/product/tab04/img_3-1.jpg");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(4) > a {
  background-image:url("../../../img/sub_page/product/tab04/img_4-1.png");}

#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(1):hover > a {
  background-image:url("../../../img/sub_page/product/tab04/img_1-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(2):hover > a {
  background-image:url("../../../img/sub_page/product/tab04/img_2-2.png");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(3):hover > a {
  background-image:url("../../../img/sub_page/product/tab04/img_3-2.jpg");}
#mStyle > .tab_box > .tab_content > .tab04 > li:nth-child(4):hover > a {
  background-image:url("../../../img/sub_page/product/tab04/img_4-2.png");}




#mStyle > .tab_box > .tab_content > ul > li > dl {
  width:100%; height:auto;
  word-break:keep-all;
}

#mStyle > .tab_box > .tab_content > ul > li > dl > dt {
  width:100%; height:auto;
  text-align:center; font-size:18px;
  text-transform:uppercase;
}

#mStyle > .tab_box > .tab_content > ul > li > dl > dd {
  width:100%; height:auto;
  text-align:center; font-size:15px; line-height:20px;
}





/*mobile*/
@media screen and (max-width:480px) {
  #mStyle > .tab_box {
    width:100%;
  }

  #mStyle > .tab_box > .tab_content > ul > li {
    margin-right:0; margin-bottom:30px; padding:0;
    width:100%; height:auto; min-height:auto;
  }

  #mStyle > .tab_box > .tab_content > ul > li:last-child {
    margin-bottom:0;
  }

  #mStyle > .tab_box > .tab_content > ul > li > a {
    height:200px;
  }
}





/*tablet*/
@media screen and (min-width:481px) and (max-width:768px) {
  #mStyle > .tab_box {
    width:100%; max-width:698px;
  }

  #mStyle > .tab_box > .tab_content > ul > li {
    margin-right:20px; padding:0;
    width:calc((100%/2) - 10px);
    height:auto; min-height:auto;
  }

  #mStyle > .tab_box > .tab_content > ul > li:nth-child(2n) {
    margin-right:0;
  }

  #mStyle > .tab_box > .tab_content > ul > li:nth-child(5),
  #mStyle > .tab_box > .tab_content > ul > li:last-child {
    margin-bottom:0;
  }

  #mStyle > .tab_box > .tab_content > ul > li > a {
    height:230px;
  }
}





/*pc*/
@media screen and (min-width:769px) and (max-width:1366px) {
  #mStyle {
    padding:150px 50px; padding-top:0;
  }

  #mStyle > .tab_box {
    width:100%; max-width:940px; min-width:698px;
  }

  #mStyle > .tab_box > .tab_content > ul > li {
    width:calc((100%/3) - 13.333333px);
  }

  #mStyle > .tab_box > .tab_content > ul > li:nth-child(3n) {
    margin-right:0;}
  
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(4),
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(5),
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(6) {
    margin-bottom:0;}

  #mStyle > .tab_box > .tab_content > ul > li > a {
    height:18.30161054172767vw;/*250/1366*100*/
    min-height:230px;
  }
}





/*pc-full*/
@media screen and (min-width:1366px) {
  #mStyle {
    padding:150px 50px; padding-top:0;
  }

  #mStyle > .tab_box > .tab_content > ul > li:nth-child(3n) {
    margin-right:0;}
  
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(4),
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(5),
  #mStyle > .tab_box > .tab_content > .tab01 > li:nth-child(6) {
    margin-bottom:0;}
}
