/* reset.css */
/* 크로스브라우징이 가능하도록 각 브라우저의 기본 형태의 상태를 동일하게 변경 */
/*:root{font-size:16px;}*/

html,body {
  margin:0; padding:0; height:100%;
  color:#333; font-size:16px;
  font-family:'Noto Sans KR', sans-serif;}

h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,p,pre,div,img,
form, fieldset, legend, input, label, textarea, select {margin:0; padding:0; border:0; outline:0;}


address {font-style:normal;}


input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"] {text-indent:0.3rem;}
input, textarea, select {box-sizing:border-box; border:1px solid #777; border-radius:0;}


button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"] {border:0; cursor:pointer; background-color:transparent; border-radius:0;}


select, button {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;}


table, thead, tbody, tfoot, caption, tr, td, th {
  margin:0; padding:0; border:1px solid #777;
  border-spacing:0; border-collapse:collapse;}
thead {background-color:#fcc;}
tbody {background-color:#dfdfdf;}
tfoot {background-color:#faa;}


ul,ol,li{list-style:none;}
a {text-decoration:none; color:#333;}
a:hover {text-decoration:none; color:#333;}


/* html5*/
main, header, nav, article, section, footer, aside, figure, figcaption {display:block;}


/* common.css */
/* 공통의 이름을 생성해서 하나의 이름을 부여 시 동일하게 동작하도록 처리하는 기법 */

.clearfix::after, .clearfix:after {content:" "; display:block; width:100%; height:0; clear:both;}
.hidden_wrap a {display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:center;}
.hidden, .hidden_wrap span {display:block; width:0; height:0; position:absolute; z-index:-100; overflow:hidden;}

.hidden_wrap span.view{width:auto; height:auto; position:static; overflow:normal;}


/* 접근성 */
a:focus, button:focus, input:focus, select:focus, textarea:focus {
  position:relative; z-index:5000;
  outline:0;
  border-style:solid;
  border-image: linear-gradient(to right, #a6c0fe 0%, #f68084 100%);
  border-image-slice:1;
  border-image-width:0 0 3px 0;
}